* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        'header header header'
        'about writing writing'
        'about writing writing'
        'about writing writing'
        'clients clients clients'
        'contact contact contact';
}

.header {
    grid-area: header;
    border: 3px solid #303030;
}

.about {
    grid-area: about;
    border: 3px solid #303030;
}

.writing {
    grid-area: writing;
    border: 3px solid #303030;
}

.clients {
    grid-area: clients;
    border: 3px solid #303030;
}

.contact {
    grid-area: contact;
    border: 3px solid #303030;
}

